

html {
  font-family: sans-serif;
  position: absolute;
}

#main {
  width: 100%;
  border: 1px solid black;
}
#preload {
  visibility: none;
  width:100%;
}

#anleitung {
  visibility: none;
  /*width:75%;*/
}

#game {
  visibility: none;
  width:100%;
}

#message {
  position: absolute;
  visibility: none;
  width:100%;
  top: 250px;
  left: 250px;
}

#playermessage {
  visibility: none;
}

#game_anleitung{
  width:20%;
  float: left;
  border: 1px solid black;
}
#game_board{
  width:70%;
  float: left;
  border: 1px solid black;
}
#game_highscore{
  position: absolute;
  right: 0px;
  width:10%;
  border: 1px solid black;
}
