

html {
  font-family: sans-serif;
  /* margin: 5em; */
  /*background-color: red;*/
  position: absolute;
}

#preload {
  visibility: none;
  width:100%;
}

#anleitung {
  visibility: none;
  width:75%;
}
#anleitung {
  visibility: none;
  width:100%;
}
#game {
  visibility: none;
  width:100%;
}

#message {
  position: absolute;
  visibility: none;
  width:100%;
  top: 150px;
  left: 100px;
}

#playermessage {
  visibility: none;
}
