

html {
  font-family: sans-serif;
  position: absolute;
}

#main {
  width: 100%;
  /* border: 1px solid black; */
}
#preload {
  visibility: none;
  width:100%;
}

#anleitung {
  visibility: none;
  /*width:75%;*/
}

#game {
  visibility: none;
  width:100%;
  margin-left: 100px;
  margin-top: 50px;
}

#title {
  width: 100%;
    font-size: 75px;
    align-self: center;
    margin-bottom: 40px;
}

#message {
  position: absolute;
  visibility: none;
  width:100%;
  top: 400;
  left: 650px;
  font-size: 48pt;
  color: rgba(256,0,0,0.75);
}

#playermessage {
  visibility: none;
}

#game_anleitung{
  width:20%;
  float: left;
  /*border: 1px solid black;*/
  font-size: 15pt;
}

ol {
font-size: 15pt;
}

#game_board{
  width:70%;
  float: left;
  /*border: 1px solid black;*/
}
#game_highscore{
  position: absolute;
  right: 0px;
  width:10%;
  /*border: 1px solid black;*/
}
